<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="/stylesheets/main.css">
  <script src="/javascripts/jquery-3.2.1.min.js" charset="utf-8"></script>
  <script src="/javascripts/index.js" charset="utf-8"></script>
  <title>Document</title>
</head>
<body class="admin-bg">
  {{ title }}
  <!-- 管理用户 -->
  <a href="/users"  class="manage">管理用户</a>
  <!-- //管理用户 -->
  <!-- 注册 -->
  <div class="register" id="registerBox" style="display: none">
    <h3>用户注册</h3>
    <dl>
      <dt>
        <label>Username</label>
      </dt>
      <dd>
        <input type="text" name="username">
      </dd>
    </dl>
    <dl>
      <dt>
        <label>Password</label>
      </dt>
      <dd>
        <input type="password" name="password" >
      </dd>
    </dl>
    <dl>
      <dt>
        <label>Confirm Password</label>
      </dt>
      <dd>
        <input type="password" name="repassword">
      </dd>
    </dl>
    <button class="btn">Sign up for Git</button>
    <div class="tips">

    </div>
    <div class="exchange">
      <a href="javascript:;">登录</a>
    </div>
  </div>
  <!-- //注册 -->
  <!-- 登录 -->
  <div class="register" id="loginBox" style="display: ">
    <h3>用户登录</h3>
    <dl>
      <dt>
        <label>Username</label>
      </dt>
      <dd>
        <input type="text" name="username" >
      </dd>
    </dl>
    <dl>
      <dt>
        <label>Password</label>
      </dt>
      <dd>
        <input type="password" name="password" >
      </dd>
    </dl>
    <button class="btn">Sign in</button>
    <div class="tips">
    </div>
    <div class="exchange">
      <a href="javascript:;">注册</a>
    </div>
  </div>
  <!-- //登录 -->
  <!-- 登录后 -->
  <div class="register" id="successBox" style="display: none ">
    <h3>欢迎，<span></span></h3>
  </div>
  <!-- //登录后 -->
</body>
</html>
